@charset "utf-8";
/* CSS Document */


body {
    margin: 0;
    padding: 0;
    background-image: url("Photos/lenskar-1t.png");
    background-size: cover;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    visibility: 0.2px;
    overflow: hidden;

}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    padding: 80px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: center;
}

.loginbox p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;

}

.loginbox input
 {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #efed40;
    cursor: pointer;
    border-radius: 20px;
    border-bottom: 1px solid #fff;
}

.loginbox input[type="submit"]:hover {
    background: rgb(66, 199, 66);
    color: #262626;
}

.loginbox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

::placeholder {
    color: rgba(255, 255, 0, 0.5);

}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    margin-top: -120px;
    margin-left: 13%;

}